---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <div style="text-align: center;">
    <a href="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}" target="_blank">
      <img src="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}.svg" />
    </a>
    <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{ site.url }}/{{ page.url }}"/>
  </div> 
  <article class="post-content">
    {{ content }}
  </article>

  <script>

    mermaid.initialize({startOnLoad:true, theme:'default'});
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  </script>
  
  {% include comment.html %}

</div>
